* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-size: 17px; */
    color: #926239;
}

.wrap {
  background-image: url('/img/beachshowcase.jpeg');
  background-size: cover;
  width: 100vw;
  height: 80vh;
  text-align: center;
  padding-top: 200px;
}

.wrap__title {
  font-size: 50px;
  line-height: 1.2;
  padding-bottom: 10px;
}

.wrap__text {
  font-size: 20px;
  padding-bottom: 30px;
}

.wrap__link-tab {
  text-decoration: none;
}

.wrap__button {
  background-color: Transparent;
  color: #926239;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border: 1px solid #926239;
  border-radius: 10px;
  cursor:pointer;
  text-transform: capitalize;
}

.info__chapter {
  font-size: 17px;
  line-height: 1.6;
  padding: 20px;
  text-align: center;
}

.info__chapter-brown {
  background-color: #926239;
  color: #ffffff;
}

.info__chapter-white {
  background-color: #ffffff;
  color: #926239;
}

.about {
  width: 100vw;
  text-align: center;
  line-height: 1.6;
}

.about__chapter {
  display: inline-block;
  text-align: left;
  width: 29vw;
  height: 20vh;
  padding: 26px;
}

.about__chapter-brown {
  background-color: #926239;
  color: #ffffff;
}

.about__chapter-white {
  background-color: #ffffff;
  color: #926239;
}